
<div class="select">
  <select name="sl-{{ select_list_name|replace(" ", "-") }}" id="sl-{{ select_list_name|replace(" ", "-") }}">
  <option> ~ Select an option ~ </option>
    <option value="{{ option_1_value }}">{{ option_1_label }}</option>
     <option value="{{ option_2_value }}">{{ option_2_label }}</option>
      <option value="{{ option_3_value }}">{{ option_3_label }}</option>
       <option value="{{ option_4_value }}">{{ option_4_label }}</option>
        <option value="{{ option_5_value }}">{{ option_5_label }}</option>
    
  </select>
</div>